.pc-left-nav-container {
  position: fixed;
  left: 130px;
  bottom: 65px;

  .page-number-item {
    margin-top: 14px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
  }

  .white-bg {
    color: #a2a2a2 !important;
  }

  .line-bar-wrapper {
    .white-bg {
      background: #a2a2a2 !important;
    }

    .line {
      width: 1px;
      height: 184px;
      background: #fefffe;
      margin: 20px 0;
      margin-left: 10px;
    }
  }

  .home-tips {
    color: #fefffe;
    font-size: 16px;
  }
}
